@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular.ttf");
}


*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
body {

    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1; }
main{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
ol, ul {
    list-style: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }
q, blockquote {
    quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }
a img {
    border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block; }

section {
    width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}
/*---------------------------------------------------*/

body {
    color: #37393B;
    font-family: 'Roboto-Regular', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
}

.section__title {
    font-size: 25px;
    padding: 30px 0;
    text-align: center;
}

.header {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__item {
    text-decoration: none;
    color: #37393B;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
}

.nav__item:hover {
    transition: all 0.3s;
    background-color: #ebebeb;
    color: #77797b;
}

.header span {
    font-weight: bold;
}

.lobby {
    min-height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/lobby_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lobby:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lobby__title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
}

.contacts {
    align-items: center;
}

.contacts__list {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 20px);
    border-radius: 20px;
    background-color: #ededed;
    padding: 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}
.contact__icon {
    display: block;
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 5px;
}
.contact__icon-viber {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg enable-background='new 0 0 100 100' id='Layer_5' version='1.1' viewBox='0 0 100 100' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M50,5C25.147,5,5,25.147,5,50c0,24.853,20.147,45,45,45s45-20.147,45-45C95,25.147,74.853,5,50,5z M49.464,24.312c0.145-0.619,0.708-0.896,0.807-0.945c0.259-0.128,0.49-0.147,0.954-0.187c0,0,0.399-0.026,0.749-0.016 c11.898,0.319,22.174,8.766,23.654,21.562c0.099,0.855,0.268,1.866,0.317,3.948c0.01,0.417,0.017,1.174-0.495,1.662 c-0.231,0.22-0.496,0.318-0.681,0.366c-0.257-0.057-0.662-0.187-0.973-0.528c-0.421-0.462-0.444-1.063-0.455-1.269 c-0.125-2.323-0.454-4.644-0.988-6.909c-1.978-8.397-9.601-15.024-18.188-15.984c-0.998-0.112-1.999-0.222-3.002-0.268 c-0.68-0.031-1.356-0.157-1.622-0.613C49.348,24.796,49.443,24.403,49.464,24.312z M54.137,32.219 c-0.022-0.004-0.501-0.007-1.107-0.166c-0.477-0.125-0.849-0.228-1.132-0.555c-0.268-0.31-0.341-0.69-0.352-0.974 c0.061-0.219,0.19-0.548,0.487-0.788c0.419-0.339,0.948-0.319,1.197-0.307c7.013,0.35,11.166,4.411,11.166,4.411 c0.36,0.352,1.867,1.858,3.178,4.301c1.581,2.946,2.037,5.689,2.184,7.369c0.036,0.383,0.026,0.951-0.238,1.535 c-0.109,0.24-0.232,0.505-0.521,0.714c-0.351,0.254-0.731,0.273-0.894,0.271c-0.181-0.068-0.407-0.184-0.606-0.39 c-0.257-0.266-0.375-0.556-0.388-0.676c-0.37-3.219-0.874-6.363-2.854-9.082C61.743,34.432,58.183,32.903,54.137,32.219z M63.308,44.451c-0.068,0.933-0.447,1.277-0.542,1.358c-0.283,0.239-0.61,0.305-0.808,0.327c-0.229-0.045-0.554-0.147-0.818-0.408 c-0.391-0.387-0.441-0.919-0.461-1.093c-0.093-0.807-0.672-3.389-1.993-4.58c-0.826-0.745-1.967-1.138-3.636-1.38 c-0.67-0.097-1.32-0.233-1.555-0.677c-0.179-0.339-0.057-0.722-0.02-0.843c0.274-0.884,1.346-1.139,1.431-1.157 c0.712,0.1,5.263,0.801,7.344,4.185C63.376,42.014,63.346,43.93,63.308,44.451z M75.841,69.517 c-1.707,2.079-3.356,4.268-5.378,6.008c-1.736,1.493-4.006,1.673-6.265,0.75c-18.559-7.577-31.87-20.459-39.547-39.051 c-0.193-0.466-0.349-0.948-0.513-1.425c-1.437-4.173-1.004-5.794,2.42-8.601c1.119-0.918,2.317-1.749,3.532-2.538 c2.042-1.326,4.288-1.31,5.832,0.55c2.566,3.093,5.014,6.329,7.12,9.746c1.572,2.551,1.01,3.995-1.297,5.916 c-0.533,0.444-1.105,0.842-1.639,1.285c-1.335,1.109-1.899,2.431-1.31,4.185c2.581,7.69,7.967,12.552,15.475,15.135 c0.873,0.3,2.237-0.374,3.192-0.916c0.713-0.405,1.131-1.327,1.683-2.017c1.491-1.865,3.903-2.654,5.894-1.391 c3.559,2.258,6.969,4.766,10.314,7.335c0.717,0.551,0.891,1.808,1.278,2.657C76.319,68.136,76.276,68.987,75.841,69.517z' fill='%237D51A0'/%3E%3C/svg%3E");
}

.contact__icon-telegram {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='100' width='100' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='50' cy='50' fill='%23139BD0' r='45'/%3e%3cpath clip-rule='evenodd' d='M51.474 60.754c-1.733 1.688-3.451 3.348-5.153 5.021-.595.586-1.264.91-2.118.865-.583-.031-.909-.287-1.088-.84-1.304-4.047-2.627-8.084-3.924-12.135-.126-.393-.312-.584-.71-.707a843.741 843.741 0 01-9.199-2.871c-.471-.15-.946-.346-1.353-.623-.629-.426-.721-1.121-.157-1.621a6.227 6.227 0 011.789-1.119c3.755-1.488 7.53-2.928 11.299-4.381 9.565-3.693 19.13-7.383 28.696-11.076 1.819-.703 3.217.287 3.028 2.254-.121 1.258-.447 2.496-.71 3.738a26979.26 26979.26 0 01-6.244 29.42c-.496 2.328-2.131 2.936-4.047 1.523-3.209-2.365-6.415-4.738-9.622-7.107-.153-.111-.312-.218-.487-.341zm-7.203 2.978l.108-.029c.02-.092.049-.182.057-.273.206-2.223.424-4.445.603-6.672.04-.496.21-.848.583-1.182 2.958-2.645 5.898-5.307 8.844-7.963 3.261-2.941 6.523-5.879 9.772-8.832.201-.182.285-.492.423-.744-.306-.033-.634-.156-.912-.084-.379.098-.738.318-1.076.531-7.197 4.533-14.388 9.074-21.59 13.598-.407.256-.483.473-.328.92.531 1.525 1.014 3.064 1.515 4.6l2.001 6.13z' fill='%23FFF' fill-rule='evenodd'/%3e%3c/svg%3e");}

.contact__icon-phone {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='64' width='64' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='32' cy='32' fill='%2377B3D4' r='32'/%3e%3cpath d='M28.962 25.343c-.417-4.794-5.418-7.146-5.63-7.242a1.063 1.063 0 00-.635-.085c-5.774.958-6.642 4.318-6.677 4.458-.048.196-.039.399.022.589 6.886 21.366 21.198 25.327 25.903 26.63.362.1.661.181.888.255a1.088 1.088 0 00.788-.046c.144-.065 3.544-1.667 4.375-6.891.037-.227 0-.463-.105-.668-.074-.144-1.853-3.528-6.784-4.724a1.066 1.066 0 00-.964.229c-1.556 1.329-3.705 2.745-4.632 2.891-6.217-3.04-9.688-8.872-9.819-9.978-.076-.622 1.348-2.806 2.987-4.582.207-.225.312-.53.283-.836z' fill='%23231F20' opacity='.2'/%3e%3cpath d='M28.962 23.343c-.417-4.794-5.418-7.146-5.63-7.242a1.063 1.063 0 00-.635-.085c-5.774.958-6.642 4.318-6.677 4.458-.048.196-.039.399.022.589 6.886 21.366 21.198 25.327 25.903 26.63.362.1.661.181.888.255a1.088 1.088 0 00.788-.046c.144-.065 3.544-1.667 4.375-6.891.037-.227 0-.463-.105-.668-.074-.144-1.853-3.528-6.784-4.724a1.066 1.066 0 00-.964.229c-1.556 1.329-3.705 2.745-4.632 2.891-6.217-3.04-9.688-8.872-9.819-9.978-.076-.622 1.348-2.806 2.987-4.582.207-.225.312-.53.283-.836z' fill='%23FFF'/%3e%3c/svg%3e");}

.contact__icon-instagram {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='1024' width='1024' xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient gradientTransform='scale(1 -1) rotate(-20.004 -2032.982 -1165.924)' gradientUnits='userSpaceOnUse' id='a' x1='463.953' x2='-194.483' y1='-73.114' y2='711.448'%3e%3cstop offset='0' stop-color='%2320254c'/%3e%3cstop offset='.057' stop-color='%2329254d'/%3e%3cstop offset='.15' stop-color='%2341234f'/%3e%3cstop offset='.268' stop-color='%23692152'/%3e%3cstop offset='.404' stop-color='%23a01f57'/%3e%3cstop offset='.533' stop-color='%23da1c5c'/%3e%3cstop offset='.592' stop-color='%23dc255a'/%3e%3cstop offset='.689' stop-color='%23e13d56'/%3e%3cstop offset='.811' stop-color='%23ea654e'/%3e%3cstop offset='.952' stop-color='%23f69c44'/%3e%3cstop offset='1' stop-color='%23fbb040'/%3e%3c/linearGradient%3e%3ccircle cx='512.001' cy='512' fill='url(%23a)' r='512'/%3e%3cg%3e%3ccircle cx='658.765' cy='364.563' fill='%23FFF' r='33.136'/%3e%3ccircle cx='512.001' cy='512' fill='none' r='121.412' stroke='%23FFF' stroke-miterlimit='10' stroke-width='45'/%3e%3cpath d='M255.358 612.506c0 91.127 73.874 165 165 165h183.283c91.127 0 165-73.873 165-165V411.495c0-91.127-73.873-165-165-165H420.358c-91.127 0-165 73.873-165 165v201.011z' fill='none' stroke='%23FFF' stroke-miterlimit='10' stroke-width='45'/%3e%3c/g%3e%3c/svg%3e");
}

.contact__icon-email {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' version='1.1' viewBox='0 0 128 128' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3e.st1%7bfill:%23fff%7d%3c/style%3e%3ccircle cx='64' cy='64' r='64' fill='%23267cb5'/%3e%3cpath class='st1' d='M64 72.4l38.2-32.7c-.6-.4-1.4-.7-2.2-.7H28c-.8 0-1.6.3-2.2.7L64 72.4z'/%3e%3cpath class='st1' d='M66.6 75.4c-1.5 1.3-3.7 1.3-5.2 0L24 43.5V85c0 2.2 1.8 4 4 4h72c2.2 0 4-1.8 4-4V43.4l-37.4 32z'/%3e%3c/svg%3e");
}

.gallery .tns-outer {
    position: relative;
}

.gallery .tns-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.slider {
    display: flex;
}

.slider > div {
    flex-grow: 1;
    display: flex;
    height: 300px;
}
.slider img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tns-outer [aria-controls] {
    border: 0;
    background-color: transparent;
    outline: none;
    font-size: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .3s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg id='Icons' style='enable-background:new 0 0 32 32;' version='1.1' viewBox='0 0 32 32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E .st0{fill:none;stroke:%23000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} %3C/style%3E%3Ccircle class='st0' cx='16' cy='16' r='13'/%3E%3Cpolyline class='st0' points='14,11.8 18.2,16 14,20.2 '/%3E%3C/svg%3E");
}

.tns-outer [data-controls="prev"] {
    transform: rotate(180deg);
}

.tns-outer [aria-controls]:hover{
    transform: scale(1.5);
}

.tns-outer [data-controls="prev"]:hover {
    transform: rotate(180deg) scale(1.5);
}

.footer {
    display: flex;
    justify-content: center;
}

.footer__email {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}