@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular.ttf");
}


*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
body {

    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1; }
main{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
ol, ul {
    list-style: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }
q, blockquote {
    quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }
a img {
    border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block; }

section {
    width: 100%;
    background-color: #f5fafd;
}
a {
    color: inherit;
    text-decoration: none;
}
/*---------------------------------------------------*/

body {
    color: #3C424F;
    font-family: 'Roboto-Regular', sans-serif;
    background-color: #f5fafd;
}

.container {
    width: 100%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
}

.section__title {
    font-size: 32px;
    padding: 30px 0;
    text-align: center;
}

.paralax {
    position: fixed;
    width: 100%;
    z-index: -1;
}
.header {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #f5fafd;
}

.header > a {
    height: 50px;
    line-height: 50px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__item {
    text-decoration: none;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
}

.nav__item:hover {
    transition: all 0.3s;
    background-color: #ebebeb;
    color: #77797b;
}

.header span {
    font-weight: bold;
}

.lobby {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobby__title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
    text-align: center;
}

.lobby__subtitle {
    padding: 30px 0;
    font-size: 20px;
    color: #ffffff;
    z-index: 1;
    text-align: center;
}

.lobby__callBtn {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #52B04C;
    cursor: pointer;
    color: #f5fafd;
    text-align: center;
    line-height: 50px;
    transition: all .3s;
}

.lobby__callBtn:hover {
    transform: scale(1.1);
}

.contacts {
    align-items: center;
}

.contacts__list {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    width: calc(50% - 20px);
    border-radius: 20px;
    border: 2px solid #52B04C;
    padding: 20px 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.contact__body {
    text-align: center;
    flex-grow: 1;
}

.contact__icon {
    display: block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}
.contact__icon-viber {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg enable-background='new 0 0 100 100' id='Layer_5' version='1.1' viewBox='0 0 100 100' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M50,5C25.147,5,5,25.147,5,50c0,24.853,20.147,45,45,45s45-20.147,45-45C95,25.147,74.853,5,50,5z M49.464,24.312c0.145-0.619,0.708-0.896,0.807-0.945c0.259-0.128,0.49-0.147,0.954-0.187c0,0,0.399-0.026,0.749-0.016 c11.898,0.319,22.174,8.766,23.654,21.562c0.099,0.855,0.268,1.866,0.317,3.948c0.01,0.417,0.017,1.174-0.495,1.662 c-0.231,0.22-0.496,0.318-0.681,0.366c-0.257-0.057-0.662-0.187-0.973-0.528c-0.421-0.462-0.444-1.063-0.455-1.269 c-0.125-2.323-0.454-4.644-0.988-6.909c-1.978-8.397-9.601-15.024-18.188-15.984c-0.998-0.112-1.999-0.222-3.002-0.268 c-0.68-0.031-1.356-0.157-1.622-0.613C49.348,24.796,49.443,24.403,49.464,24.312z M54.137,32.219 c-0.022-0.004-0.501-0.007-1.107-0.166c-0.477-0.125-0.849-0.228-1.132-0.555c-0.268-0.31-0.341-0.69-0.352-0.974 c0.061-0.219,0.19-0.548,0.487-0.788c0.419-0.339,0.948-0.319,1.197-0.307c7.013,0.35,11.166,4.411,11.166,4.411 c0.36,0.352,1.867,1.858,3.178,4.301c1.581,2.946,2.037,5.689,2.184,7.369c0.036,0.383,0.026,0.951-0.238,1.535 c-0.109,0.24-0.232,0.505-0.521,0.714c-0.351,0.254-0.731,0.273-0.894,0.271c-0.181-0.068-0.407-0.184-0.606-0.39 c-0.257-0.266-0.375-0.556-0.388-0.676c-0.37-3.219-0.874-6.363-2.854-9.082C61.743,34.432,58.183,32.903,54.137,32.219z M63.308,44.451c-0.068,0.933-0.447,1.277-0.542,1.358c-0.283,0.239-0.61,0.305-0.808,0.327c-0.229-0.045-0.554-0.147-0.818-0.408 c-0.391-0.387-0.441-0.919-0.461-1.093c-0.093-0.807-0.672-3.389-1.993-4.58c-0.826-0.745-1.967-1.138-3.636-1.38 c-0.67-0.097-1.32-0.233-1.555-0.677c-0.179-0.339-0.057-0.722-0.02-0.843c0.274-0.884,1.346-1.139,1.431-1.157 c0.712,0.1,5.263,0.801,7.344,4.185C63.376,42.014,63.346,43.93,63.308,44.451z M75.841,69.517 c-1.707,2.079-3.356,4.268-5.378,6.008c-1.736,1.493-4.006,1.673-6.265,0.75c-18.559-7.577-31.87-20.459-39.547-39.051 c-0.193-0.466-0.349-0.948-0.513-1.425c-1.437-4.173-1.004-5.794,2.42-8.601c1.119-0.918,2.317-1.749,3.532-2.538 c2.042-1.326,4.288-1.31,5.832,0.55c2.566,3.093,5.014,6.329,7.12,9.746c1.572,2.551,1.01,3.995-1.297,5.916 c-0.533,0.444-1.105,0.842-1.639,1.285c-1.335,1.109-1.899,2.431-1.31,4.185c2.581,7.69,7.967,12.552,15.475,15.135 c0.873,0.3,2.237-0.374,3.192-0.916c0.713-0.405,1.131-1.327,1.683-2.017c1.491-1.865,3.903-2.654,5.894-1.391 c3.559,2.258,6.969,4.766,10.314,7.335c0.717,0.551,0.891,1.808,1.278,2.657C76.319,68.136,76.276,68.987,75.841,69.517z' fill='%237D51A0'/%3E%3C/svg%3E");
}

.contact__icon-telegram {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='100' width='100' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='50' cy='50' fill='%23139BD0' r='45'/%3e%3cpath clip-rule='evenodd' d='M51.474 60.754c-1.733 1.688-3.451 3.348-5.153 5.021-.595.586-1.264.91-2.118.865-.583-.031-.909-.287-1.088-.84-1.304-4.047-2.627-8.084-3.924-12.135-.126-.393-.312-.584-.71-.707a843.741 843.741 0 01-9.199-2.871c-.471-.15-.946-.346-1.353-.623-.629-.426-.721-1.121-.157-1.621a6.227 6.227 0 011.789-1.119c3.755-1.488 7.53-2.928 11.299-4.381 9.565-3.693 19.13-7.383 28.696-11.076 1.819-.703 3.217.287 3.028 2.254-.121 1.258-.447 2.496-.71 3.738a26979.26 26979.26 0 01-6.244 29.42c-.496 2.328-2.131 2.936-4.047 1.523-3.209-2.365-6.415-4.738-9.622-7.107-.153-.111-.312-.218-.487-.341zm-7.203 2.978l.108-.029c.02-.092.049-.182.057-.273.206-2.223.424-4.445.603-6.672.04-.496.21-.848.583-1.182 2.958-2.645 5.898-5.307 8.844-7.963 3.261-2.941 6.523-5.879 9.772-8.832.201-.182.285-.492.423-.744-.306-.033-.634-.156-.912-.084-.379.098-.738.318-1.076.531-7.197 4.533-14.388 9.074-21.59 13.598-.407.256-.483.473-.328.92.531 1.525 1.014 3.064 1.515 4.6l2.001 6.13z' fill='%23FFF' fill-rule='evenodd'/%3e%3c/svg%3e");}

.contact__icon-phone {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='64' width='64' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='32' cy='32' fill='%2377B3D4' r='32'/%3e%3cpath d='M28.962 25.343c-.417-4.794-5.418-7.146-5.63-7.242a1.063 1.063 0 00-.635-.085c-5.774.958-6.642 4.318-6.677 4.458-.048.196-.039.399.022.589 6.886 21.366 21.198 25.327 25.903 26.63.362.1.661.181.888.255a1.088 1.088 0 00.788-.046c.144-.065 3.544-1.667 4.375-6.891.037-.227 0-.463-.105-.668-.074-.144-1.853-3.528-6.784-4.724a1.066 1.066 0 00-.964.229c-1.556 1.329-3.705 2.745-4.632 2.891-6.217-3.04-9.688-8.872-9.819-9.978-.076-.622 1.348-2.806 2.987-4.582.207-.225.312-.53.283-.836z' fill='%23231F20' opacity='.2'/%3e%3cpath d='M28.962 23.343c-.417-4.794-5.418-7.146-5.63-7.242a1.063 1.063 0 00-.635-.085c-5.774.958-6.642 4.318-6.677 4.458-.048.196-.039.399.022.589 6.886 21.366 21.198 25.327 25.903 26.63.362.1.661.181.888.255a1.088 1.088 0 00.788-.046c.144-.065 3.544-1.667 4.375-6.891.037-.227 0-.463-.105-.668-.074-.144-1.853-3.528-6.784-4.724a1.066 1.066 0 00-.964.229c-1.556 1.329-3.705 2.745-4.632 2.891-6.217-3.04-9.688-8.872-9.819-9.978-.076-.622 1.348-2.806 2.987-4.582.207-.225.312-.53.283-.836z' fill='%23FFF'/%3e%3c/svg%3e");}

.contact__icon-instagram {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='1024' width='1024' xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient gradientTransform='scale(1 -1) rotate(-20.004 -2032.982 -1165.924)' gradientUnits='userSpaceOnUse' id='a' x1='463.953' x2='-194.483' y1='-73.114' y2='711.448'%3e%3cstop offset='0' stop-color='%2320254c'/%3e%3cstop offset='.057' stop-color='%2329254d'/%3e%3cstop offset='.15' stop-color='%2341234f'/%3e%3cstop offset='.268' stop-color='%23692152'/%3e%3cstop offset='.404' stop-color='%23a01f57'/%3e%3cstop offset='.533' stop-color='%23da1c5c'/%3e%3cstop offset='.592' stop-color='%23dc255a'/%3e%3cstop offset='.689' stop-color='%23e13d56'/%3e%3cstop offset='.811' stop-color='%23ea654e'/%3e%3cstop offset='.952' stop-color='%23f69c44'/%3e%3cstop offset='1' stop-color='%23fbb040'/%3e%3c/linearGradient%3e%3ccircle cx='512.001' cy='512' fill='url(%23a)' r='512'/%3e%3cg%3e%3ccircle cx='658.765' cy='364.563' fill='%23FFF' r='33.136'/%3e%3ccircle cx='512.001' cy='512' fill='none' r='121.412' stroke='%23FFF' stroke-miterlimit='10' stroke-width='45'/%3e%3cpath d='M255.358 612.506c0 91.127 73.874 165 165 165h183.283c91.127 0 165-73.873 165-165V411.495c0-91.127-73.873-165-165-165H420.358c-91.127 0-165 73.873-165 165v201.011z' fill='none' stroke='%23FFF' stroke-miterlimit='10' stroke-width='45'/%3e%3c/g%3e%3c/svg%3e");
}

.contact__icon-email {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Layer_1' version='1.1' viewBox='0 0 128 128' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3e.st1%7bfill:%23fff%7d%3c/style%3e%3ccircle cx='64' cy='64' r='64' fill='%23267cb5'/%3e%3cpath class='st1' d='M64 72.4l38.2-32.7c-.6-.4-1.4-.7-2.2-.7H28c-.8 0-1.6.3-2.2.7L64 72.4z'/%3e%3cpath class='st1' d='M66.6 75.4c-1.5 1.3-3.7 1.3-5.2 0L24 43.5V85c0 2.2 1.8 4 4 4h72c2.2 0 4-1.8 4-4V43.4l-37.4 32z'/%3e%3c/svg%3e");
}

.icon-steeringWheel {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg height='32px' style='enable-background:new 0 0 32 32;' version='1.1' viewBox='0 0 32 32' width='32px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Layer_1'/%3E%3Cg id='steering_x5F_wheel'%3E%3Cpath d='M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M16,4 c5.207,0,9.605,3.354,11.266,8H4.734C6.395,7.354,10.793,4,16,4z M16,18c-1.105,0-2-0.895-2-2s0.895-2,2-2s2,0.895,2,2 S17.105,18,16,18z M4,16c5.465,0,9.891,5.266,9.984,11.797C8.328,26.828,4,21.926,4,16z M18.016,27.797 C18.109,21.266,22.535,16,28,16C28,21.926,23.672,26.828,18.016,27.797z' style='fill:%234E4E50;'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-bolt {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 512 512' height='512px' id='Layer_1' version='1.1' viewBox='0 0 512 512' width='512px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M377.416,204.666c-1.112-3.129-3.87-5.389-7.152-5.859l-100.394-14.43l46.056-102.799 c1.23-2.767,0.986-5.977-0.669-8.526c-1.646-2.541-4.476-4.078-7.504-4.078H167.55c-4.819,0-8.77,3.815-8.941,8.625l-6.456,182.688 c-0.163,4.565,3.146,8.517,7.667,9.167l69.798,10.045l-93.387,168.584c-2.188,3.969-1.076,8.933,2.595,11.591 c1.582,1.14,3.408,1.682,5.234,1.682c2.423,0,4.828-0.985,6.582-2.894L375.58,213.717 C377.822,211.275,378.527,207.794,377.416,204.666z' fill='%234E4E50'/%3E%3C/svg%3E");
}

.icon-whell {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 48 48' height='48px' version='1.1' viewBox='0 0 48 48' width='48px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Layer_4'%3E%3Cg%3E%3Ccircle cx='23.938' cy='24.073' fill='%234e4e50' r='2.405'/%3E%3Cpath d='M23.938,9.643c-7.968,0-14.429,6.458-14.429,14.429c0,7.967,6.461,14.43,14.429,14.43 c7.969,0,14.43-6.463,14.43-14.43C38.368,16.102,31.907,9.643,23.938,9.643z M25.729,13.729c0.824-1.042,2.757-0.883,4.321,0.353 c1.563,1.235,2.165,3.081,1.338,4.124c-0.824,1.042-2.757,0.885-4.321-0.353C25.503,16.618,24.905,14.772,25.729,13.729z M17.553,14.002c1.631-1.146,3.571-1.195,4.334-0.108c0.763,1.089,0.061,2.898-1.57,4.044c-1.631,1.144-3.571,1.191-4.334,0.104 C15.217,16.952,15.922,15.146,17.553,14.002z M14.269,27.643c-1.329,0-2.405-1.616-2.405-3.608c0-1.991,1.076-3.607,2.405-3.607 s2.405,1.616,2.405,3.607C16.673,26.026,15.598,27.643,14.269,27.643z M21.926,34.843c-0.824,1.043-2.757,0.883-4.321-0.353 c-1.564-1.235-2.165-3.081-1.338-4.124c0.824-1.042,2.757-0.888,4.321,0.353C22.151,31.954,22.749,33.8,21.926,34.843z M19.129,24.072c0-2.658,2.153-4.81,4.81-4.81s4.81,2.151,4.81,4.81c0,2.654-2.153,4.81-4.81,4.81S19.129,26.727,19.129,24.072z M30.102,34.57c-1.63,1.146-3.57,1.193-4.335,0.108c-0.763-1.09-0.061-2.898,1.57-4.045c1.632-1.146,3.572-1.192,4.333-0.103 C32.436,31.621,31.731,33.425,30.102,34.57z M35.761,24.035c0,1.992-1.075,3.608-2.404,3.608s-2.405-1.616-2.405-3.608 c0-1.994,1.076-3.607,2.405-3.607S35.761,22.041,35.761,24.035z' fill='%234e4e50'/%3E%3Cpath d='M45.583,24.321c0-1.273,0.995-2.287,2.245-2.372c-0.146-1.597-0.395-3.166-0.836-4.659 c-0.261,0.099-0.536,0.169-0.832,0.169c-1.329,0-2.404-1.076-2.404-2.405c0-0.982,0.589-1.813,1.428-2.189 c-0.724-1.357-1.558-2.649-2.516-3.837c-0.423,0.371-0.96,0.615-1.568,0.615c-1.329,0-2.405-1.076-2.405-2.405 c0-0.606,0.244-1.146,0.613-1.569c-1.155-0.963-2.367-1.86-3.692-2.598c-0.395,0.789-1.19,1.343-2.132,1.343 c-1.33,0-2.405-1.075-2.405-2.405c0-0.296,0.07-0.573,0.169-0.833c-1.58-0.505-3.225-0.867-4.929-1.036 c-0.065,1.273-1.093,2.287-2.38,2.287s-2.314-1.014-2.38-2.287c-1.629,0.162-3.203,0.502-4.715,0.975 c0.111,0.279,0.181,0.58,0.181,0.897c0,1.329-1.076,2.402-2.405,2.402c-0.975,0-1.804-0.582-2.182-1.414 c-1.36,0.751-2.649,1.616-3.835,2.607c0.4,0.427,0.657,0.996,0.657,1.63c0,1.329-1.076,2.402-2.405,2.402 c-0.614,0-1.159-0.247-1.584-0.625c-0.976,1.212-1.871,2.492-2.601,3.882c0.811,0.385,1.38,1.198,1.38,2.156 c0,1.329-1.076,2.402-2.405,2.402c-0.275,0-0.528-0.073-0.774-0.157c-0.404,1.383-0.694,2.813-0.845,4.286 c1.164,0.167,2.071,1.127,2.071,2.337c0,1.221-0.919,2.184-2.096,2.341c0.179,1.891,0.575,3.713,1.164,5.451 c0.287-0.122,0.6-0.188,0.93-0.188c1.329,0,2.405,1.076,2.405,2.405c0,0.953-0.563,1.757-1.366,2.142 c0.673,1.155,1.438,2.25,2.285,3.274c0.412-0.329,0.915-0.56,1.485-0.56c1.33,0,2.405,1.076,2.405,2.405 c0,0.559-0.22,1.043-0.536,1.451c1.113,0.906,2.278,1.757,3.543,2.457c0.402-0.766,1.179-1.302,2.103-1.302 c1.329,0,2.405,1.076,2.405,2.405c0,0.272-0.072,0.526-0.156,0.775c1.569,0.497,3.201,0.854,4.891,1.019 c0.065-1.268,1.093-2.282,2.38-2.282c1.27,0,2.28,0.991,2.371,2.235c1.41-0.141,2.798-0.361,4.127-0.737 c-0.062-0.211-0.134-0.423-0.134-0.657c0-1.329,1.076-2.405,2.405-2.405c0.938,0,1.727,0.55,2.123,1.329 c1.449-0.742,2.823-1.606,4.084-2.616c-0.324-0.408-0.547-0.906-0.547-1.47c0-1.329,1.075-2.405,2.404-2.405 c0.568,0,1.066,0.226,1.478,0.555c1.015-1.203,1.952-2.471,2.718-3.856c-0.86-0.362-1.464-1.212-1.464-2.208 c0-1.329,1.076-2.404,2.405-2.404c0.343,0,0.665,0.075,0.961,0.201c0.462-1.47,0.796-3.001,0.967-4.584 C46.583,26.613,45.583,25.599,45.583,24.321z M23.938,42.109c-9.962,0-18.037-8.074-18.037-18.037 c0-9.962,8.074-18.037,18.037-18.037c9.963,0,18.037,8.074,18.037,18.037C41.976,34.035,33.901,42.109,23.938,42.109z' fill='%234e4e50'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.icon-cubes {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='91' height='91' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%234e4e50' id='svg_5' d='m28.796,37.569c0.465,0.809 1.311,1.26 2.182,1.26c0.424,0 0.854,-0.107 1.248,-0.334l8.438,-4.849c1.203,-0.692 1.619,-2.227 0.928,-3.43s-2.227,-1.619 -3.432,-0.926l-8.438,4.848c-1.203,0.691 -1.618,2.228 -0.926,3.431z'/%3E%3Cpath fill='%234e4e50' id='svg_6' d='m50.892,33.646l8.438,4.849c0.395,0.227 0.824,0.334 1.25,0.334c0.869,0 1.717,-0.451 2.18,-1.26c0.691,-1.203 0.277,-2.74 -0.926,-3.431l-8.438,-4.848c-1.203,-0.693 -2.738,-0.277 -3.43,0.926s-0.278,2.738 0.926,3.43z'/%3E%3Cpath fill='%234e4e50' id='svg_7' d='m0.927,51.772l0,24.385c0,0.898 0.48,1.729 1.26,2.176l21.168,12.193c0.389,0.223 0.82,0.336 1.254,0.336s0.865,-0.113 1.254,-0.336l19.912,-11.471l19.92,11.471c0.389,0.223 0.82,0.336 1.254,0.336s0.865,-0.113 1.254,-0.336l21.166,-12.193c0.779,-0.447 1.26,-1.277 1.26,-2.176l0,-24.385c0,-0.898 -0.48,-1.729 -1.26,-2.178l-19.91,-11.469l0,-22.929c0,-0.898 -0.479,-1.729 -1.258,-2.178l-21.167,-12.193c-0.775,-0.447 -1.732,-0.447 -2.508,0l-21.172,12.194c-0.779,0.449 -1.26,1.279 -1.26,2.178l0,22.931l-19.907,11.467c-0.78,0.449 -1.26,1.279 -1.26,2.177zm5.025,4.397l16.143,9.504l0,18.33l-16.143,-9.299l0,-18.535zm37.313,-27.072l0,18.328l-16.145,-9.298l0,-18.534l16.145,9.504zm23.683,32.224l-16.18,-9.523l7.633,-4.398l8.547,-4.92l16.176,9.319l-16.176,9.522zm-2.515,-23.194l-5.707,3.287l-10.436,6.01l0,-18.327l16.143,-9.504l0,18.534zm-39.825,4.352l16.176,9.319l-16.176,9.523l-16.177,-9.525l16.177,-9.317zm2.512,41.524l0,-18.33l16.143,-9.504l0,18.535l-16.143,9.299zm21.17,-27.836l16.145,9.506l0,18.33l-16.145,-9.299l0,-18.537zm21.17,27.836l0,-18.33l16.143,-9.504l0,18.535l-16.143,9.299zm-23.68,-78.1l16.174,9.316l-16.178,9.525l-16.175,-9.524l16.179,-9.317z'/%3E%3Cpath fill='%234e4e50' id='svg_8' d='m20.421,66.794c-0.691,-1.201 -2.227,-1.617 -3.43,-0.926l-8.438,4.846c-1.203,0.691 -1.619,2.227 -0.928,3.432c0.465,0.809 1.311,1.26 2.182,1.26c0.424,0 0.854,-0.107 1.248,-0.334l8.438,-4.846c1.203,-0.692 1.619,-2.227 0.928,-3.432z'/%3E%3Cpath fill='%234e4e50' id='svg_9' d='m40.663,70.714l-8.438,-4.846c-1.203,-0.691 -2.738,-0.277 -3.43,0.928c-0.691,1.203 -0.275,2.738 0.928,3.43l8.438,4.846c0.395,0.227 0.824,0.334 1.248,0.334c0.871,0 1.717,-0.451 2.182,-1.262c0.691,-1.204 0.275,-2.739 -0.928,-3.43z'/%3E%3Cpath fill='%234e4e50' id='svg_10' d='m62.761,66.794c-0.691,-1.201 -2.227,-1.617 -3.432,-0.926l-8.436,4.846c-1.203,0.691 -1.619,2.227 -0.928,3.432c0.465,0.809 1.311,1.26 2.182,1.26c0.424,0 0.854,-0.107 1.248,-0.334l8.438,-4.846c1.203,-0.692 1.617,-2.227 0.928,-3.432z'/%3E%3Cpath fill='%234e4e50' id='svg_11' d='m83.003,70.714l-8.438,-4.846c-1.205,-0.691 -2.738,-0.277 -3.43,0.926c-0.691,1.205 -0.275,2.74 0.928,3.432l8.436,4.846c0.395,0.227 0.826,0.334 1.25,0.334c0.869,0 1.717,-0.451 2.182,-1.26c0.689,-1.206 0.275,-2.741 -0.928,-3.432z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon-fuel {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%234e4e50' fill-rule='nonzero' stroke-width='2' id='rect7223-2-4-9' d='m22.91667,12.50003c-2.30838,0 -4.16667,1.85833 -4.16667,4.16666l0,66.66661c0,2.08334 2.08333,4.16667 4.16667,4.16667l37.5,0c2.08333,0 4.16666,-2.08333 4.16666,-4.16667l0,-20.83331l2.08334,0c2.08333,0 2.08333,2.08333 2.08333,2.08333l0,8.33333c0,4.16666 2.08333,6.24999 6.25,6.24999c4.16667,0 6.25,-2.08333 6.25,-6.24999c0,-4.86125 0,-18.74999 0,-22.91665c0,-4.16666 -8.33333,-8.33333 -8.33333,-12.49999l0,-12.49999l-4.16667,0l-4.16667,-4.16666l0,-4.16666c0,-2.30834 -1.85829,-4.16667 -4.16666,-4.16667l-37.5,0zm4.16666,8.33333l29.16667,0l0,16.66665l-29.16667,0l0,-16.66665zm37.5,12.49999l4.16667,0c0,0 0,3.47208 0,6.24999c0,4.16667 8.33333,8.33333 8.33333,12.49999l0,20.83332c0,2.08333 -2.08333,2.08333 -2.08333,2.08333c0,0 -2.08333,0 -2.08333,-2.08333c0,0 0,-8.33333 0,-10.41666c0,-2.08333 -2.08334,-4.16666 -4.16667,-4.16666c-1.38889,0 -4.16667,0 -4.16667,0l0,-24.99998z'/%3E%3C/g%3E%3C/svg%3E");
}

.services__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicesItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(50% - 30px);
    margin-bottom: 30px;
    background-color: #ffffff;
    cursor: pointer;
    transition: all .2s;
    padding: 20px;
    line-height: 1.5;
    color: #8E9DAE;
    border: 1px solid #8E9DAE;
}

.servicesItem:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(189,189,189,.19), 0 6px 6px rgba(189,189,189,.23);
}

.servicesItem__icon {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}

.servicesItem > div {
    flex-grow: 1;
    height: 100%;
}

.servicesItem h4 {
    text-align: center;
    font-size: 1.2rem;
    color: #03a9f4;
    margin-bottom: 10px;
}
.gallery .tns-outer {
    position: relative;
}

.gallery .tns-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.slider {
    display: flex;
    overflow: hidden;
}

.slider > div {
    flex-grow: 1;
    display: flex;
    height: 300px;
    min-width: 300px;
}
.slider img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tns-outer [aria-controls] {
    border: 0;
    background-color: transparent;
    outline: none;
    font-size: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    transition: all .3s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg id='Icons' style='enable-background:new 0 0 32 32;' version='1.1' viewBox='0 0 32 32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cstyle type='text/css'%3E .st0{fill:none;stroke:%23ffffff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} %3C/style%3E%3Ccircle class='st0' cx='16' cy='16' r='13'/%3E%3Cpolyline class='st0' points='14,11.8 18.2,16 14,20.2 '/%3E%3C/svg%3E");
}

.tns-outer [data-controls="prev"] {
    transform: rotate(180deg);
}

.tns-outer [aria-controls]:hover{
    transform: scale(1.5);
}

.tns-outer [data-controls="prev"]:hover {
    transform: rotate(180deg) scale(1.5);
}

.footer {
    background-color: #f5fafd;
    display: flex;
    justify-content: center;
}

.footer__email {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

@media(max-width: 768px) {
    .paralax {
        object-fit: cover;
        min-height: 300px;
    }

    .nav {
        display: none;
    }

    .lobby {
        min-height: 250px;
    }
    .lobby__title {
        font-size: 32px;
    }

    .lobby__subtitle {
        font-size: 16px;
        padding: 20px 0;
    }

    .section__title {
        font-size: 27px;
        padding: 25px 0;
    }
    .contacts__list {
        flex-direction: column;
        max-width: 100%;
    }

    .contact {
        width: 100%;
        max-width: 300px;
    }
    .services__box {
        flex-direction: column;
        align-items: center;
    }
    .servicesItem {
        flex-direction: column;
        padding: 10px;
        width: 100%;
        max-width: 400px;
    }
    .servicesItem__icon {
        margin: 0 0 10px 0;
    }
    .gallery .tns-controls {
        padding: 0 10px;
    }

    .tns-outer [aria-controls]:hover{
        transform: scale(1);
    }
}