@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular.ttf");
}


*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
body {

    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1; }
main{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
ol, ul {
    list-style: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }
q, blockquote {
    quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }
a img {
    border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block; }

section {
    width: 100%;
}

/*---------------------------------------------------*/

body {
    color: #37393B;
    font-family: 'Roboto-Regular', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
}

.section__title {
    font-size: 25px;
    padding: 30px 0;
    text-align: center;
}

.header {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__item {
    text-decoration: none;
    color: #37393B;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
}

.nav__item:hover {
    transition: all 0.3s;
    background-color: #ebebeb;
    color: #77797b;
}

.header span {
    font-weight: bold;
}

.lobby {
    min-height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/lobby_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lobby:before {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lobby__title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
}

.contacts {
    align-items: center;
}

.contacts__list {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 20px);
    border-radius: 20px;
    background-color: #ededed;
    padding: 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}
.contact__icon {
    display: block;
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 5px;
}
.contact__icon-viber {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' ?%3E%3Csvg enable-background='new 0 0 100 100' id='Layer_5' version='1.1' viewBox='0 0 100 100' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M50,5C25.147,5,5,25.147,5,50c0,24.853,20.147,45,45,45s45-20.147,45-45C95,25.147,74.853,5,50,5z M49.464,24.312c0.145-0.619,0.708-0.896,0.807-0.945c0.259-0.128,0.49-0.147,0.954-0.187c0,0,0.399-0.026,0.749-0.016 c11.898,0.319,22.174,8.766,23.654,21.562c0.099,0.855,0.268,1.866,0.317,3.948c0.01,0.417,0.017,1.174-0.495,1.662 c-0.231,0.22-0.496,0.318-0.681,0.366c-0.257-0.057-0.662-0.187-0.973-0.528c-0.421-0.462-0.444-1.063-0.455-1.269 c-0.125-2.323-0.454-4.644-0.988-6.909c-1.978-8.397-9.601-15.024-18.188-15.984c-0.998-0.112-1.999-0.222-3.002-0.268 c-0.68-0.031-1.356-0.157-1.622-0.613C49.348,24.796,49.443,24.403,49.464,24.312z M54.137,32.219 c-0.022-0.004-0.501-0.007-1.107-0.166c-0.477-0.125-0.849-0.228-1.132-0.555c-0.268-0.31-0.341-0.69-0.352-0.974 c0.061-0.219,0.19-0.548,0.487-0.788c0.419-0.339,0.948-0.319,1.197-0.307c7.013,0.35,11.166,4.411,11.166,4.411 c0.36,0.352,1.867,1.858,3.178,4.301c1.581,2.946,2.037,5.689,2.184,7.369c0.036,0.383,0.026,0.951-0.238,1.535 c-0.109,0.24-0.232,0.505-0.521,0.714c-0.351,0.254-0.731,0.273-0.894,0.271c-0.181-0.068-0.407-0.184-0.606-0.39 c-0.257-0.266-0.375-0.556-0.388-0.676c-0.37-3.219-0.874-6.363-2.854-9.082C61.743,34.432,58.183,32.903,54.137,32.219z M63.308,44.451c-0.068,0.933-0.447,1.277-0.542,1.358c-0.283,0.239-0.61,0.305-0.808,0.327c-0.229-0.045-0.554-0.147-0.818-0.408 c-0.391-0.387-0.441-0.919-0.461-1.093c-0.093-0.807-0.672-3.389-1.993-4.58c-0.826-0.745-1.967-1.138-3.636-1.38 c-0.67-0.097-1.32-0.233-1.555-0.677c-0.179-0.339-0.057-0.722-0.02-0.843c0.274-0.884,1.346-1.139,1.431-1.157 c0.712,0.1,5.263,0.801,7.344,4.185C63.376,42.014,63.346,43.93,63.308,44.451z M75.841,69.517 c-1.707,2.079-3.356,4.268-5.378,6.008c-1.736,1.493-4.006,1.673-6.265,0.75c-18.559-7.577-31.87-20.459-39.547-39.051 c-0.193-0.466-0.349-0.948-0.513-1.425c-1.437-4.173-1.004-5.794,2.42-8.601c1.119-0.918,2.317-1.749,3.532-2.538 c2.042-1.326,4.288-1.31,5.832,0.55c2.566,3.093,5.014,6.329,7.12,9.746c1.572,2.551,1.01,3.995-1.297,5.916 c-0.533,0.444-1.105,0.842-1.639,1.285c-1.335,1.109-1.899,2.431-1.31,4.185c2.581,7.69,7.967,12.552,15.475,15.135 c0.873,0.3,2.237-0.374,3.192-0.916c0.713-0.405,1.131-1.327,1.683-2.017c1.491-1.865,3.903-2.654,5.894-1.391 c3.559,2.258,6.969,4.766,10.314,7.335c0.717,0.551,0.891,1.808,1.278,2.657C76.319,68.136,76.276,68.987,75.841,69.517z' fill='%237D51A0'/%3E%3C/svg%3E");
}

.footer {
    display: flex;
    justify-content: center;
}

.footer__email {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}